<%= render "shared/header" %>
<body>
  <div class='title-contents'>
    <h2 class='service-title'>
      検査実施スケジュール
    </h2>
  </div>
  <div class='table'>
    <table class='table' border="5" bordercolor="dimgray">
      <tr>
        <th class='th'>患者識別コード</th>
        <th class='th'>診療科</th>
        <th class='th'>予定検査間隔</th>
        <th class='th'>初回検査実施日</th>
        <th class='th'>次回検査予定日</th>
      </tr>
      <% @patients.each do |patient| %>
        <tr>
          <% if patient.monitoring_interval_id == 4 %>
            <td class='td'><%= patient.patient_code %></td>
            <td class='td'><%= patient.department.name %></td>
            <td class='td'><%= patient.monitoring_interval.name %></td>
            <td class='td'><%= patient.inspection_date.strftime("%Y年%m月%d日") %></td>
            <% if patient.inspection_date.since(3.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(3.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(3.month) %>
            <% elsif patient.inspection_date.since(6.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(6.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(6.month) %>
            <% elsif patient.inspection_date.since(9.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(9.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(9.month) %>
            <% elsif patient.inspection_date.since(12.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(12.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(12.month) %>
            <% elsif patient.inspection_date.since(15.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(15.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(15.month) %>
            <% elsif patient.inspection_date.since(18.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(18.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(18.month) %>
            <% elsif patient.inspection_date.since(21.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(21.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(21.month) %>
            <% elsif patient.inspection_date.since(24.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(24.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(24.month) %>
            <% end %>
          <% end %>
          <% if patient.monitoring_interval_id == 3 %>
            <td class='td'><%= patient.patient_code %></td>
            <td class='td'><%= patient.department.name %></td>
            <td class='td'><%= patient.monitoring_interval.name %></td>
            <td class='td'><%= patient.inspection_date.strftime("%Y年%m月%d日") %></td>
            <% if patient.inspection_date.since(2.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(2.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(2.month) %>
            <% elsif patient.inspection_date.since(4.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(4.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(4.month) %>
            <% elsif patient.inspection_date.since(6.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(6.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(6.month) %>
            <% elsif patient.inspection_date.since(8.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(8.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(8.month) %>
            <% elsif patient.inspection_date.since(10.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(10.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(10.month) %>
            <% elsif patient.inspection_date.since(12.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(12.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(12.month) %>
            <% elsif patient.inspection_date.since(14.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(14.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(14.month) %>
            <% elsif patient.inspection_date.since(16.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(16.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(16.month) %>
            <% elsif patient.inspection_date.since(18.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(18.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(18.month) %>
            <% elsif patient.inspection_date.since(20.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(20.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(20.month) %>
            <% elsif patient.inspection_date.since(22.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(22.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(22.month) %>
            <% elsif patient.inspection_date.since(24.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(24.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(24.month) %>
            <% end %>
          <% end %>
          <% if patient.monitoring_interval_id == 2 %>
            <td class='td'><%= patient.patient_code %></td>
            <td class='td'><%= patient.department.name %></td>
            <td class='td'><%= patient.monitoring_interval.name %></td>
            <td class='td'><%= patient.inspection_date.strftime("%Y年%m月%d日") %></td>
           <% if patient.inspection_date.since(1.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(1.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(1.month) %>
            <% elsif patient.inspection_date.since(2.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(2.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(2.month) %>
            <% elsif patient.inspection_date.since(3.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(3.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(3.month) %>
            <% elsif patient.inspection_date.since(4.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(4.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(4.month) %>
            <% elsif patient.inspection_date.since(5.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(5.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(5.month) %>
            <% elsif patient.inspection_date.since(6.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(6.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(6.month) %>
            <% elsif patient.inspection_date.since(7.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(7.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(7.month) %>
            <% elsif patient.inspection_date.since(8.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(8.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(8.month) %>
            <% elsif patient.inspection_date.since(9.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(9.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(9.month) %>
            <% elsif patient.inspection_date.since(10.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(10.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(10.month) %>
            <% elsif patient.inspection_date.since(11.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(11.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(11.month) %>
            <% elsif patient.inspection_date.since(12.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(12.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(12.month) %>
            <% elsif patient.inspection_date.since(13.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(13.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(13.month) %>
            <% elsif patient.inspection_date.since(14.month) >=Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(14.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(14.month) %>
            <% elsif patient.inspection_date.since(15.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(15.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(15.month) %>
            <% elsif patient.inspection_date.since(16.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(16.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(16.month) %>
            <% elsif patient.inspection_date.since(17.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(17.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(17.month) %>
            <% elsif patient.inspection_date.since(18.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(18.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(18.month) %>
            <% elsif patient.inspection_date.since(19.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(19.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(19.month) %>
            <% elsif patient.inspection_date.since(20.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(20.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(20.month) %>
            <% elsif patient.inspection_date.since(21.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(21.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(21.month) %>
            <% elsif patient.inspection_date.since(22.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(22.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(22.month) %>
            <% elsif patient.inspection_date.since(23.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(23.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(23.month) %>
            <% elsif patient.inspection_date.since(24.month) >= Date.today %>
              <td class='td' type="date"><%= patient.inspection_date.since(24.month).strftime("%Y年%m月%d日") %></td>
              <% next_inspection_date = Time.new %>
              <% next_inspection_date = patient.inspection_date.since(24.month) %>
            <% end %>
          <% end %>
        </tr>
        <div class='alert'>
          <% if next_inspection_date <= Date.today + 10 && next_inspection_date > Date.today %>
            <h2>
              <%= "#{patient.patient_code}さんの検査日が間近です。" %>
            </h2>
          <% elsif next_inspection_date == Date.today %>
            <h2>
              <%= "#{patient.patient_code}さんの検査日当日です。" %>
            </h2>
          <% end %>
        </div>
      <% end %>
    </table>
  </div>
</body>
<%= render "shared/footer" %>